header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
    border: 2px solid #fff;
    z-index: 84;

    // example

    .nav {
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-between;

        &__logo {
            cursor: pointer;
        }

        &__list {
            display: flex;
            align-items: center;
            gap: 50px;
            list-style-type: none;

            &__item {
                text-transform: uppercase;
                text-align: center;

                &:nth-child(3) {
                    margin-right: 150px;
                }

                &_link {
                    color: #000;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-decoration: none;
                }

                &_number {
                    color: #000;
                    text-decoration: none;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }




                &_button_second {
                    display: inline-flex;
                    padding: 18px 30px;
                    align-items: flex-start;
                    gap: 8px;
                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    border-radius: 100px;
                    background: #299764;
                    border: none;

                    &:hover {
                        background-color: #077743;
                    }

                    &:active {
                        background: #F5F5F5;
                        border-radius: 100px;
                        color: #000;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                        svg {
                            path {
                                fill: black;
                            }
                        }


                    }
                }
            }

            #nav__list__item_button_first {
                display: inline-flex;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                gap: 5px;
                width: 58px;
                height: 58px;
                border: none;

                &:hover {
                    svg {
                        path {
                            fill: black;
                        }
                    }
                }

                &:active {
                    background-color: #299764;

                    svg {
                        path {
                            fill: white;
                        }
                    }
                }

            }
        }
    }
}